body {
    margin: 100px 40px 10px 70px;
}

h1 {
    padding: 10px 10px 10px 300px;

}

.todos {
    color: blue;
}

.standard {
    color: blueviolet;
}

.luxo {
    color: darkgreen;
}

div.botoes {
    width: 800px;
    height: 228px;
    border: 2px solid gray;
    background-color: orange;
}

img.esq {
    width: 240px;
    height: 227px;
    float: left;
}

img.dir {
    width: 240px;
    height: 227px;
    float: right;
}

img:hover {
    background-position: 0px -78px;
}

.newsletter{
    float: left;
    width: 100px;
}

.newsletter:hover{
    color: blue;
}

p {
    clear: both;
}

.menu ul li {
    background: url(/icone/newsletter.png) no-repeat scroll 0 0 transparent;
}

.menu ul li a{
    background-position: 0px 0px;
}

.menu ul li.email a:hover{
    background-position: 0px -78px;
}

a.button {
    background-color: #4CAF50;
    border: none;
    color: rgb(187, 69, 69);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-image: url(/icone/newsletter.png);
    text-indent: -9999px;
}

a#link {
    width: 174px;
    background-position: 0px 0px;
}

a#framing {
    width: 210px;
    background-position: -175px 0px;
}

a#link:hover {
    background-position: 0px -40px;
}

a#framing:hover {
    background-position: -175px -40px;
}

a#link:active {
    background-position: 0px -80px;
}

a#framing:active {
    background-position: -175px -80px;
}

